
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
:root{

    --cor-de-fundo:#52794E;
    --cor-do-titulo: #97EE29;
    --cor-do-subtitulo: #8CC2E0;
    --cor-principal: #7ACB90;
    --cor-letrinha: #111212;
    --cor-botao-escuro: rgba(170, 220, 147, 0.5);




}

body{
    background-color: var(--cor-principal);
   color:  var(--cor-de-fundo);
   font-family: 'Josefin Sans', sans-serif;

}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   }